.sidebar-container {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242424;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-user {
  display: block;
  color: #c7d4d8;
  padding: 0.5rem 1rem;
  height: 4rem;
}

.sidebar-icon-user {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #47b074;
  text-align: center;
  padding-top: 0.7rem;
}

.sidebar-content {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: #c7d4d8;
  display: block;
}

.sidebar-content:hover {
  background-color: #787878;
  cursor: pointer;
  color: white;
}

.sidebar-content-icon {
  width: 2rem;
}

.sidebar-line {
  border-color: #c7d4d8;
}

.sidebar-user-name {
  font-size: 1.2rem;
}

.sidebar-user-status {
  font-size: 0.8rem;
}

.sidebar-user-status-icon {
  color: teal;
  padding-right: 0.5rem;
}
